# Identities
[user]
  name = Pascal Weiland
  email = weiland@users.noreply.github.com
  signingkey = 8F592971

[user "rp"]
  name = Pascal Weiland
  email = pascal.weiland@rp-digital.de
  signingkey = 34562F25

[user "gris"]
  name = Pascal Weiland
  email = pascal.weiland@gris.informatik.tu-darmstadt.de
  signingkey = 78C5389B27DE1C5BA9DA6A0A9A65545EA16BCB16

[user "gmail"]
  name = Pascal Weiland
  email = pasweiland@gmail.com
  signingkey = 182E88B5

[alias]
  identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
  d  = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
  uc = reset --soft HEAD~1                # undo commit
  #conflicts = diff --name-only --diff-filter=U
  conflicts = !git status --short | grep "^UU "
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  unadd = reset HEAD
  undo = reset HEAD~1 --mixed

  lastchanges = !"for k in `git branch | sed s/^..//`; do echo `git log -1 --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k --`\t\"$k\";done | sort"
  recentchanges = !"for k in `git branch | sed s/^..//`; do echo `git log -1 --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k --`\t\"$k\";done | sort"

[core]
  attributesfile = ~/.gitattributes
  autocrlf = input
  editor = nvim
  trustctime = false
  excludesfile = ~/.gitignore_global
  #whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[interactive]
  diffFilter = delta --color-only

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[credential]
  helper = osxkeychain

[push]
  default = matching

[remote "origin"]
  push = HEAD
  prune = true

[merge]
  log = true
  tool = code
  conflictstyle = diff3

[mergetool]
  prompt = false

[diff]
  tool = Kaleidoscope
  colorMoved = zebra
  noprefix = true

[difftool]
  prompt = false

[init]
  defaultBranch = main

# reuse recorded resolution (for resolving the same conflict over and over again)
[rerere]
  enabled = 1

[status]
  showUntrackedFiles = all

[commit]
  gpgsign = true

[gpg]
  program = gpg

[pretty]
  custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
  #                     │        │            │            │  author name ┘
  #                     │        │            │            └─ message
  #                     │        │            └─ date (relative)
  #                     │        └─ decorations (branch, heads or tags)
  #                     └─ hash (abbreviated)

[color]
  ui = auto

[color "branch"]
  current = green bold
  local = green
  remote = yellow

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red

[color "status"]
  added = green reverse
  changed = yellow reverse
  untracked = red reverse


; [includeIf "gitdir:~/travail/"]
  ; path = ~/.travail.gitconfig

