#Host u.seeh.in
#  User pastin
#  IdentityFile ~/.ssh/id_rsa

#Host bitbucket.org
#  HostName bitbucket.org
#  User git
#  IdentityFile ~/.ssh/id_rsa

#Host github.com
#  HostName github.com
#  User git
#  IdentityFile ~/.ssh/id_rsa

Host *.moviepilot.com
  User moviepilot
#  ProxyCommand ssh -q videoload ncat %h %p
  IdentityFile ~/.ssh/mp
  ForwardAgent yes

Host s2.seeh.in
  HostName 188.226.227.32
  Port 23570
  User deploy
  IdentityFile ~/.ssh/id_rsa

Host seelichter.de
  HostName 46.38.239.129
  User pw

Host pi
  HostName 192.168.1.188
  User pi

Host s3
  HostName 87.106.11.179
  Port 22222
  User apps
  IdentityFile ~/.ssh/id_rsa

# TU Darmstadt
# https://support.rbg.informatik.tu-darmstadt.de/wiki/de/doku/computerhilfe/ssh
# Vmware
Host c1
  HostName clientssh1.rbg.informatik.tu-darmstadt.de
  User pw58cupu

# Vmware
Host c2
  HostName clientssh2.rbg.informatik.tu-darmstadt.de
  User pw58cupu

# ProxMox
Host c3
  HostName clientssh3.rbg.informatik.tu-darmstadt.de
  User pw58cupu

Host *
  PasswordAuthentication no
  ChallengeResponseAuthentication no
  HashKnownHosts yes
  VisualHostKey yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_rsa
  # IgnoreUnknown UseKeychain
  # UseKeychain yes

Host pihome
  HostName 192.168.178.54
  User pi
  # Password raspberry
